<!-- Qteedy Product Form -->
<div class="eq-email-wrapper">
  <h3>Need a Quote?</h3>
  <div class="field">
    <input type="text" id="cartEmail" value="{{customer.email}}" class="field__input" placeholder="Email" required>
    <label for="cartEmail" class="field__label">Customer Email</label>
  </div>
  <br>
  <a href="#" class="cart__checkout-button button" id="create_quote_from_product">Create Quote</a>
  <p id="easyquote-status"></p>

  <input type="hidden" id="qteedy-product-id" value="{{ product.id }}">
  <input type="hidden" id="qteedy-variant-id" value="{{ product.selected_or_first_available_variant.id }}">
</div>
